 * {
     padding: 0%;
     margin: 0%;
 }

 .navbar {
     width: 100%;
     margin: auto;
     display: flex;
     position: fixed;
 }

 .logo {
     width: 50%;
     display: flex;
     justify-content: left;
     align-items: center;
 }

 .logo h1 {
     margin-left: 50px;
     text-decoration: none;
     font-size: 30px;
     color: rgb(202, 8, 99);
 }

 .menu {
     width: 50%;

 }

 .menu ul {
     list-style-type: none;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin-top: 30px;
 }

 .menu ul li {
     width: 8%;
     color: white;
     font-size: 15px;
 }

 .father {
     background-image: url(../img/slider/slider-01.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
 }


 .ba {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgba(0, 0, 0, 0.8);
 }

 .son {
     color: white;
     text-align: center;
     width: 50%;
     line-height: 70px;
 }

 .son h1 {
     font-size: 70px;
     color: #ff305b;
 }

 .son p {
     font-size: 30px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .p-o h1 {
     width: 10%;
     position: relative;
     text-align: center;
     padding: 15px;
     color: black;
     margin-bottom: 20px;
 }

 .p-o h1::before {
     content: " ";
     background-color: #ff305b;
     width: 5px;
     height: 25px;
     margin-left: -10px;
     position: absolute;

 }

 .one {
     margin-top: 100px;
 }

 .item {
     padding: 80px;
 }

 .units,
 .inner,
 .image {
     width: 60%;
     margin: auto;
     display: flex;
 }

 .t {
     border-radius: 9px;
     background-color: #ff305b;
     width: 20%;
     height: 250px;
     position: relative;

 }

 .photo-o img {
     border-radius: 5px;
     margin-top: -50px;
     width: 170%;
     margin-left: -50px;
 }



 .p-o {
     width: 60%;
     color: grey;
     font-family: Arial, Helvetica, sans-serif;
     line-height: 24px;
 }

 .p-o ul {
     margin-top: 40px;
     list-style-type: none;
     display: flex;
     flex-wrap: wrap;
     line-height: 35px;

 }

 .p-o ul li {
     width: 50%;
     /* background-color: #ff305b; */
     margin: auto;
 }

 .p-o ul li span {
     color: black;
     font-size: 18px;
     /* background-color: yellow; */
 }

 button {
     background-color: #ff305b;
     width: 140px;
     height: 40px;
     color: white;
     border-radius: 4px;
     font-size: 20px;
     border-color: #ff305b;

 }

 .p-o .b {
     margin-top: 80px;
     text-align: center;
 }

 .finish {
     background-color: #333333;
     width: 100%;
     height: 18vh;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .family {
     width: 100%;
     background-color: #f1f1f1;
     height: 55vh;
 }

 .ones {
     width: 25%;
     height: 18vh;
     color: grey;
     font-size: 18px;
     line-height: 25px;
     text-align: center;
 }

 .ones h1 {
     color: #333;
     font-size: 20px;
     margin-bottom: 25px;
     margin-top: 25px;
 }

 .n:hover {
     background-color: white;
     box-shadow: 6px 6px 6px gray;
     border-radius: 6px;
 }

 .tens {
     height: 25%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .tens h1 {
     font-size: 40px;
     font-weight: 800;
     line-height: 30px;
     margin-bottom: 25px;
     padding-bottom: 30px;
 }

 /* .tens h1::after {
     content: "";
     background-color: #ff305b;
     height: 1px;
     width: 160px;
     position: absolute;
 } */

 .full {
     width: 100%;
     background-color: #f1f1f1;
     height: 15vh;
 }

 .pic {
     width: 100%;
     height: 100vh;

 }

 .io {
     width: 30%;
     height: 50%;
     padding: 10px;
 }

 .io img {
     width: 100%;
 }

 .image {
     flex-wrap: wrap;
 }

 .list {
     width: 60%;
     margin: auto;
 }

 .list ul {
     list-style-type: none;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin-bottom: 25px;
     margin-top: -25px;
 }

 .list ul li {
     width: 100px;
     padding: 4px;
 }

 .first {
     width: 100%;
     height: 80vh;
     background-color: #f1f1f1;
 }

 .a {
     width: 35%;
     padding: 15px;

 }

 .z {
     height: 45vh;
     margin-bottom: 50px;
     background-color: white;
 }

 .z img,
 .z iframe {
     width: 100%;
     height: 50%;
 }

 .z p {
     font-size: 18px;
     color: #333333;
     line-height: 28px;
     margin-bottom: 10px;
     margin-top: 5px;
     margin-left: 15px;
     margin-right: 15px;
 }

 .z h1 {
     font-size: 22px;
     color: #202020;
     margin-left: 15px;
     margin-right: 15px;
 }

 .forms {
     width: 100%;
     height: 60vh;
 }

 input[value=Name],
 input[value=email] {
     width: 47%;
 }

 input[value=Subject],
 input[value=message-for-me] {
     width: 97%;
 }

 input[value=message-for-me] {
     height: 100px;
 }

 .out {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     width: 60%;
     margin: auto;
 }

 input {
     height: 40px;
     margin-bottom: 25px;
     border-radius: 5px;
     border: 1px solid #ccc;
     color: #ccc;
     padding-left: 20px;
 }

 .in .b {
     font-size: 15px;
 }

 .feedback {
     width: 100%;
     height: 60vh;
 }

 .c {
     width: 50%;
     margin: auto;
     background-color: #f1f1f1;
     display: flex;
 }